[user]
    # These should go in your ~/.gitconfig_local file
    #name = ""
    #email = ""
[core]
    filemode = false
    bare = false
    logallrefupdates = true
    editor = vim
    excludesfile = ~/.gitignore_global
    whitespace=fix,-indent-with-non-tab,-trailing-space,cr-at-eol,tabwidth=4
    pager = "less -x4"
    eol = lf
    autocrlf = input
    ignorecase = false
    preloadindex = true
    fscache = true
[gc]
    auto = 256
[advice]
    pushNonFastForward = false
[push]
    default = simple
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    ls = ls-files
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    lgauto = log --color --graph --pretty=format:'%C(auto)%h -%d %s (%cr) <%an>' --abbrev-commit
    lg = log --color --graph --pretty=format:'%C(auto)%h%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --color --graph --pretty=format:'%C(auto)%h%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    # non-relative dates
    lgt = log --color --graph --pretty=format:'%C(auto)%h%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgat = log --color --graph --pretty=format:'%C(auto)%h%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --all

    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[log]
    # Local timezone, ISO date format
    date = format-local:%F %T
[merge]
    tool = vimdiff
[oh-my-zsh]
  # This hides the git prompt in oh-my-zsh
  #hide-status = 1
[rerere]
    enabled = true
[rebase]
    autosquash = true
[include]
    # Add name details here
    path = ~/.gitconfig_local
